@import 'reset'
@import 'variables'

img
  max-width: 100%

header.top
  position: fixed
  top: 0
  background: rgba(0,0,0, .1)
  box-shadow: 2px 2px 20px 2px rgba(0,0,0,.2)
  z-index: 12
  width: calc(100% - 10px)
  padding: 10px
  img
    width: 10%
  nav
    float: right
    margin-right: 10px
  button, h2
    display: inline-block
    font-size: 30px
    margin-right: 10px


.splash
  position: relative
  margin-top: 75px
  font-weight: bold
  z-index: 1
  h1
    position: absolute
    top: 20%
    left: 50%
    transform: translateX(-50%)
    width: 80%
    font-size: 30px
    color: $primary-red
    background: ivory
    padding: 10px

.philosophy
  position: relative
  img
    position: relative
    left: -30%
    filter: opacity(20%)
    top: 0px
    transform: rotate(30deg)
  h3
    position: absolute
    top: 50%
    width: 80%
    text-align: left
    left: 50%
    transform: translate(-50%, -50%)
    font-size: 16px
    font-weight: bold
    letter-spacing: 2px
    line-height: 1.2
  @media(min-width: 430px)
    h3
      line-height: 1.5
      font-size: 24px

.ninja
  display: block
  text-align: center
  padding: 30px
  h3
    font-size: 30px
    font-weight: bold
    margin-bottom: 30px
  a
    display: inline-block
    border: 2px solid black
    text-decoration: none
    height: 50px
    vertical-align: top
    &:hover
      cursor: pointer
  span
    position: relative
    vertical-align: top
    line-height: 50px
    padding: 0 30px
    font-size: 18px
    color: black
    font-weight: bold
  img
    height: 30px
    top: 6px
    left: 10px
    position: relative
    filter: drop-shadow(2px 2px 20px, rgb(0, 0, 0))
    transform-origin: center
  button
    background: transparent
    border: none
    position: relative
    &:hover
      cursor: pointer
      img
        animation: 1s linear infinite spin

@keyframes spin 
  0% 
    transform: rotate(0deg)
  100% 
    transform: rotate(360deg)

.stallions
  width: 100%
  margin: 30px auto
  background: darken(white, 5%)
  header
    text-align: center
    margin: 0 auto
    margin-bottom: 40px
    padding: 20px 0
    position: relative
    background: white
    box-shadow: 0px 7px 15px -11px rgba(0,0,0,.5)

    h3
      font-size: 40px
      font-weight: bold